@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #141a4e;
    background-color: #f2f6f9;
}